body{
    font-family: sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: whitesmoke;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 1rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;   
}

header .navbar a{
    margin-left: 2rem;
}

header a, header .navbar a{
    color: #252525;
    font-size: 125%;
}

body a{
    text-decoration: none;
}

#home1{    
    height: 700px;
    width: 100%;
    background-image: url('../img/odontologo-home.jpg');
    background-repeat: no-repeat;
    background-size: cover;    
    background-attachment: fixed;
}

#home1 .titulo{
    padding-top: 20%;
    margin-left: 8%;
    font-size: 135%;
    color: black;
}

#home1 .subtitulo{
    margin-left: 8%;
    font-size: 107%;
    color: black;
}

#home1 .appointment{
    margin-left: 8%;    
}

#home1 .appointment .box_appointment, 
#home1 .appointment .box_number,
#home1 .appointment .box{
    float: left;
    padding-right: 1%;
    font-size: 150%;
}

#home1 .appointment .box_appointment a{
    color: black;
}


#contact_info #services_title{
    text-align: center;
}

#contact_info .card_location .text_card{
    font-size: 100%;
}

/* Información de contacto */

#contact{
    background-color: #f7f7f7;
}

#contact .contact_title{
    color: #333;
    -webkit-text-stroke-color: #333;
    font-family: lora,Sans-serif;
    font-size: 38px;
    text-align: center;
    margin-top: 3%;
    padding-top: 3%;
}

#contact .contact_info .row .col-md-3 .card_location i{
    color: #fff;
    background-color: #2dcbbe;
    border-style: solid;
    border-width: 10px;
    border-color: rgba(255,255,255,.6);
    border-radius: 100px 100px 100px 100px;
    overflow: hidden;
    padding: 10px;
    font-size: 24px;
    width: 66px;
}

#contact .contact_info .row{
    padding-top: 4%;
}

#contact .contact_info .row .col-md-3 .card_location{
    padding: 3% 10% 9% 9%;
    text-align: center;
    font-size: 500%;
}

